@model DFA_CORE.Models.Torder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Torder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oitem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oitem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oquant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oquant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Oid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
