@model IEnumerable<DFA_CORE.Models.Torder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><i class="fa-solid fa-folder-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oitem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oquant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Oname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oitem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oquant)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Oid"><i class="fa-solid fa-file-pen"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Oid"><i class="fa-sharp fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Oid"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
